body{
    background-color: rgb(243, 178, 243);
    
}


.content{
    text-align: center;
    margin-bottom: 250px;
}

.Buttons{
    text-align: right;
    
    
}

.Buttons button{
    margin: 10px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
}


.sett-button{
    text-align: left;
}


.play-butts{
    text-align: left;
}